body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.header-container {
    position: sticky;
    padding: 8px;
    box-shadow: 0px 3px 6px rgb(32, 33, 36, 0.28);
    background-color: rgb(10, 158, 82);
    color: white;
}

.content-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cards-container {
    width: 100%;
    height: 60vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.service-card {
    overflow-y: auto;
    width: 30%;
    height: 50%;
    box-shadow: 0px 0px 6px 1px rgb(32, 33, 36, 0.28);
    border-radius: 8px;
}

.classe-teste {
    height: fit-content;
    min-height: 50%;
    max-height: 100%;
}

.icone-grande {
    font-size: 60px;
}

.result-cep,
.result-ddd,
.result-address {
    padding: 10px;
}

.history-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.history-container {
    padding: 8px;
}